body {
  font-family: sans-serif;
}
button:hover {
  cursor: pointer;
}

.input {
  background-color: #fafaaa;
  width: 400px;
  height: 30px;
  padding: 8px;
  margin: 8px;
  border-radius: 2px;
}

.complate {
  background-color: #c1ffff;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 2px;
}

.incomplate {
  background-color: #cbffe2;
  width: 400px;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 2px;
}

.title {
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
}

.one_line > li {
  margin-right: 8px;
}

.one_line {
  display: flex;
  align-items: center;
  margin: 8px;
}
